
*.pde

src/test/bin/*

*.out

*.o

src/test/bin/*

src/core/bin/*

src/core/test/bin/*

src/config/bin/*

src/config/test/bin/*

src/monitor/bin/*

src/monitor/test/bin/*

src/sink/bin/*

src/vent/bin/*

src/vent/test/bin/*

src/work/bin/*

src/reap/bin/*

src/pipe/bin/*

src/skweltch.bbprojectd/*

src/ui/bin/*

src/ui/test/bin/*

src/ui/rest/bin/*

src/ui/rest/test/bin/*

src/dist/*

src/temp/*

src/tune/bin/*

src/tune/test/bin/*

turtle-1.2.2.zip

turtle-1.2.2/*

Skweltch/*

*.log

arbor-v0.92/*

Skweltch/Skweltch.xcodeproj/project.pbxproj

src/tasks.pid

src/results.json
