<h1>Skwletch</h1>

<p>Welcome to the Skweltch control server.</p>

<p>This application uses ZeroMQ to send commmands to a running Skweltch Machine.</p>

<%= link_to 'Machines', controller: 'machines' %>