
.graph { 
	position: relative;
	left: 10px;
	top: 10px;
	width: 340px;
	height: 340px;
	border: 1px solid gray ;
}

.node
{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 100px;
	height: 100px;
	border: 1px solid gray;
	width: 100px;
	height: 100px;
	font-size: 8pt;
	font-family: 'Geneva';
	margin: 2px 2px 2px 2px;
}

.count
{
	position: relative;
	left: 20px;
	top: 20px;
	font-weight: 'bold';
	font-size: 8pt;
}
